- var revealLocation = 'bower_components/reveal.js/'
doctype html
html(lang="en")

  include bower_components/RevealJade/shared/slide_mixins

  include head

  link(rel='external' type='text/html' src="bower_components/RevealJade/shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "The Software Development Cycle",subtitle: ""})
        +olSlide("Two Truths & a Lie",
          [
            "A program with syntax errors can execute but might produce incorrect results.",
            "Although the syntax of programming languages differs, the same program logic can be expressed in different languages",
            "Most simple computer programs include steps that perform input, processing, and output"
          ]
        )

        +slideGroup
          +bigTitleSlide("")
            img(src="assets/software_development_cycle.png" width= "80%")
          +littleTitleSlide('Understand the problem')
            :markdown
              The checking account problem

          +littleTitleSlide('Plan the logic')

          +bigTitleSlide("")
            img(src="assets/software_development_cycle.png" width= "80%")

        +slideGroup
          +littleTitleSlide("Planning Logic")
            img(src="assets/flow_chart_vs_pseudocode.png")
          +littleTitleSlide("The Symbols")
            img(src="assets/flow_chart_symbols.png" width= "80%")
            +speakerNotes
              :markdown
                Write this down

          +littleTitleSlide("Inputs and Outputs")
            include code/vars1

          +bigTitleSlide("")
            include code/vars2

          +bigTitleSlide("")
            include code/vars3

          +bigTitleSlide("Processing")
            :markdown
              Time to take some action

          +littleTitleSlide("(Sequence) My cup of coffee")
            img(src="assets/flow1.png")

          +littleTitleSlide("")
            include code/pseudocode1

          +bigTitleSlide("(Selection) Decisions")
            include code/conditional

          +littleTitleSlide("How do you like your Coffee")
            img(src="assets/flow2.png")

          +littleTitleSlide("")
            include code/pseudocode2

          +bigTitleSlide("(Loop) Repetition")
            :markdown
              Repeating yourself

          +littleTitleSlide("")
            include code/pseudocode3

          +littleTitleSlide("One lump or two")
            img(src="assets/flow3.png")

          +olSlide("Two Truths & a Lie",
            [
              "Understanding the problem that must be solved can be one of the most difficult aspects of programming.",
              "The two most commonly used logic-planning tools are flowcharts and pseudocode.",
              "Flowcharting a program is a very different process if you use an older programming language instead of a newer one."
            ]
          )


          +bigTitleSlide("Let's Try it")
            :markdown
              Draw a flowchart and its pseudocode to represent of a program that allows the user to enter values for the width and length of a room's floor in feet

              The program outputs the area of the floor

          +bigTitleSlide("Review")
            img(src="assets/the_three_structures_review.png")

        +slideGroup
          +littleTitleSlide("Putting them together")
            img(src="assets/combining_structures.png" width="80%")

          +littleTitleSlide("Identify the parts")
            img(src="assets/loop_in_sequence_in_selection.png")

          +littleTitleSlide("Identify the parts")
            img(src="assets/selection_in_loop_in_sequence.png" width="70%")

          +littleTitleSlide("Lets build our own")
            include code/buying_a_plant

          +olSlide("Two Truths & a Lie",
            [
              "Each structure in structured programming is a sequence, selection, or loop.",
              "All logic problems can be solved using only three structures-sequence, selection, and loop.",
              "The three structures cannot be combined into a single program."
            ]
          )


    include bower_components/RevealJade/shared/footer
