:markdown
  ###### Buying and planting flowers in the spring
      if we are planting flowers this year then
        buy flowers in pots
        while frost is still possible
          if it is over 50F today then
            bring potted flowers outdoors for the day
          else
            keep potted flowers inside for the day
          end if
        end while
        plant flowers in ground
      end if
