:markdown
  ###### Pseudocode
      Start
        Output "How many sugars?"
        Input sugars
        Set added = 0
        Loop
          If added = sugars ?
            Add sugar
            Set added = added + 1
          End If
        End Loop
      End
