:markdown
  ###### Sequence Pseudocode
      Start
        Boil kettle
        Add coffee to cup
        Add boiling water
        Add milk
        Add sugar
      End

  ###### JavaScript (Does not run)
      boilKettle();
      addCoffeeToCup();
      addBoilingWater();
      addMilk();
      addSugar();
