:markdown
  ###### Selection Pseudocode
      Start
        Boil kettle
        Add coffee to cup
        Add boiling water
        If Milk required?
          Add milk
        End If
        If Sugar required?
          Add sugar
        End If
      End

  ###### JavaScript (Does not run)
      boilKettle();
      addCoffeeToCup();
      addBoilingWater();

      if(milk === true){
        addMilk();
      }

      if(sugar == true){
        addSugar();
      }

