:markdown
  ###### One solution
      Start
        Read height
        Read width
        Set area = height * width
        Output area
      End

  ###### JavaScript (You can try it and change the values)
      var height = prompt('Enter Height in Feet', 0);
      var width = primpt('Enter Width in Feet', 0);
      alert(height * width)
