:markdown
  #### One Step Further
      x = "Paul"
      y = "My Name is "
      y + x = ?

  #### Pseudocode
      set x = "Paul"
      set y = "My Name is "
      output y + x

  #### JavaScript
      var x = "Paul";
      var y = "My Name is ";
      alert(y + x);
