:markdown
  #### Another way of looking at it
      x = "Paul"
      "My name is " + x = ?

  #### Pseudocode
      set x = "Paul"
      output "My name is " + x

  #### JavaScript
      var x = "Paul";
      alert("My name is " + x);
